body {
}

main {
    display: inline-block;
    width: 800px;
    margin: 100px;
    margin-left: calc(50% - 400px)
}
.left-column {
    width: 40%;
    float: left;
    background-color: yellow;
}
.bottom-links {
}
.bottom-links > a {
    background-color: red;
}
.bottom-links > span {
    background-color:blue;
}
.right-column {
    width: 60%;
    float: left;
    background-color: pink;
}